<%- include('partials/header') %>

<div class="container">
  <a id="logout" href="/logout" role="button">Log Out</a>
  <h1>Welcome, <%= displayName %></h1>
  <div class="currentMonth">
    <i class="fas fa-chevron-left" id="prev-month"></i>
    <span id="month-year-display"> <%= formattedDate %> </span>
    <i class="fas fa-chevron-right" id="next-month"></i>
  </div>

  <div class="balance-summary">
    <!-- Add a hidden form to store the current month and year -->
    <form
      id="month-year-form"
      action="/secrets"
      method="GET"
      style="display: none"
    >
      <input type="hidden" name="month" id="month-input" value="<%= month %>" />
      <input type="hidden" name="year" id="year-input" value="<%= year %>" />
    </form>

    <h3 id="monthBalance">
      <%=formattedDate%> Balance: <%= (totalIncome -
      totalExpenses).toLocaleString() %>
    </h3>
  </div>
  <div class="incomeExpense">
    <div class="incomeContainer">
      <h2>Income</h2>
      <form id="income-form" action="/income/add" method="POST">
        <div class="amountAndDate">
          <div class="dataBlock">
            <label for="amount">Income amount:</label>
            <input type="text" name="amount" required />
          </div>
          <div class="dataBlock">
            <label for="date">Date:</label>
            <input type="date" name="date" required />
          </div>
        </div>
        <div class="dataBlock">
          <label for="tag">Tag:</label>
          <input type="text" name="tag_name" list="income-tags" required />
        </div>
        <datalist id="income-tags">
          <% if (incomeTags) { %> <% incomeTags.forEach(tag => { %>
          <option value="<%= tag.name %>"><%= tag.name %></option>
          <% }); %> <% } %>
        </datalist>
        <button type="submit">Add Income</button>
      </form>
      <!-- <button class="showButton" data-target="income-list">Show Income</button> -->
    </div>

    <!-- expense container -->
    <div class="expenseContainer">
      <h2>Expense</h2>
      <form id="expense-form" action="/expense/add" method="POST">
        <div class="inputContainer">
          <div class="amountAndDate">
            <div class="dataBlock">
              <label for="amount">Expense amount:</label>
              <input type="text" name="amount" required />
            </div>
            <div class="dataBlock">
              <label for="date">Date:</label>
              <input type="date" name="date" required />
            </div>
          </div>
          <div class="dataBlock">
            <label for="tag">Tag:</label>
            <input type="text" name="tag_name" list="expense-tags" required />
          </div>
          <datalist id="expense-tags">
            <% if (expenseTags) { %> <% expenseTags.forEach(tag => { %>
            <option value="<%= tag.name %>"><%= tag.name %></option>
            <% }); %> <% } %>
          </datalist>
        </div>
        <button type="submit">Add Expense</button>
      </form>
      <!--       <button class="showButton" data-target="expense-list">
        Show expense
      </button> -->
    </div>
  </div>

  <div class="dataDescriptionConainer">
    <!--Display list of income-->
    <div id="income-list" class="income-list">
      <h3>
        Incomes for the current month: $<%= totalIncome.toLocaleString() %>
      </h3>
      <ul>
        <% incomes.forEach(income => { %>
        <li class="incomeList">
          <p class="incomeBlock">
            <%= income.tag_name %>: <%=
            parseFloat(income.amount).toLocaleString() %>

            <span class="incomeDate"
              ><%= new Date(income.date).toLocaleDateString() %></span
            >
          </p>
          <span class="editDelete"
            ><form action="/income/delete/<%= income.id %>" method="POST">
              <button type="submit" class="deleteButton">
                <i class="fa-solid fa-trash"></i>
              </button></form
          ></span>
        </li>
        <% }); %>
      </ul>
      <!-- <h3>Total Income: <%= totalIncome.toLocaleString() %></h3> -->
    </div>
    <!-- Display the list of expenses -->
    <div id="expense-list" class="expense-list">
      <h3>
        Expenses for the current month: $<%= totalExpenses.toLocaleString() %>
      </h3>
      <ul>
        <% expenses.forEach(expense => { %>
        <li class="expenseList">
          <p class="expenseBlock">
            <%= expense.tag_name %>: <%=
            parseFloat(expense.amount).toLocaleString() %>

            <span class="expenseDate"
              ><%= new Date(expense.date).toLocaleDateString() %></span
            >
          </p>
          <span class="editDelete"
            ><form action="/expense/delete/<%= expense.id %>" method="POST">
              <button type="submit" class="deleteButton">
                <i class="fa-solid fa-trash"></i>
              </button></form
          ></span>
        </li>
        <% }); %>
      </ul>
      <!-- <h3>Total Expenses: <%= totalExpenses.toLocaleString() %></h3> -->
    </div>
  </div>
</div>

<script>
  const monthInput = document.getElementById("month-input");
  const yearInput = document.getElementById("year-input");
  const monthYearForm = document.getElementById("month-year-form");

  // Automatically submit the form if the page is loaded without month and year in the query string
  if (!location.search.includes("month") || !location.search.includes("year")) {
    const currentDate = new Date();
    const currentMonth = currentDate.getMonth() + 1; // getMonth is 0-indexed
    const currentYear = currentDate.getFullYear();

    monthInput.value = currentMonth.toString().padStart(2, "0"); // Ensure month is always two digits
    yearInput.value = currentYear;

    monthYearForm.submit();
  }

  document.getElementById("prev-month").addEventListener("click", () => {
    let currentMonth = parseInt(monthInput.value);
    let currentYear = parseInt(yearInput.value);

    if (currentMonth === 1) {
      monthInput.value = 12;
      yearInput.value = currentYear - 1;
    } else {
      monthInput.value = currentMonth - 1;
    }

    monthYearForm.submit();
  });

  document.getElementById("next-month").addEventListener("click", () => {
    let currentMonth = parseInt(monthInput.value);
    let currentYear = parseInt(yearInput.value);

    if (currentMonth === 12) {
      monthInput.value = 1;
      yearInput.value = currentYear + 1;
    } else {
      monthInput.value = currentMonth + 1;
    }

    monthYearForm.submit();
  });
</script>
